:root {
  --accent-color: #e0218a;
}

.Weather {
  background-color: #fb90b7;
  border-radius: 10px;
  padding: 16px;
  font-family: Mali;
  color: white;
}

.search-button {
  background-color: var(--accent-color);
  color: white;
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: white;
  color: var(--accent-color);
}
